<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="webit_order_extended_after_place" type="WebIt\OrderExtended\Plugin\Sales\Api\OrderManagementInterfacePlugin" />
    </type>
</config>
